<h1>appointment.vtl</h1>

this page can update client info

<a href="/stylist/:stylist_id/client">return back to $stylist.getName() page</a>


<a href="/">Homepage indext.vtl</a>
<a href="/service">Service.vtl</a>
<a href="/stylist">Stylist.vtl</a>
<a href="/employement">Employment.vtl</a>
