<h1>Update $client.getName() profile </h1>

<div class="jumbotron">
  <form class="" action="/client/$client.getId()/update" method="post">
    <label for="description">Update Description</label>
    <input type="text" name="description" value="">
    <button type="submit" class="btn btn-sucess" name="button">Updates</button>
  </form>
</div>
