
<div class="">
  <h1>Welcome to Hair Place</h1>
</div>

<div class="container jumbotron">
  <!-- <div class="Clients">
    <a href="/client">Clients</a>
  </div> -->
  <div class="Stylist">
    <a href="/stylist">Stylists</a>
  </div>
</div>
