
<div class="">
  <h1>Welcome to Hair Place</h1>
</div>

<div class="container jumbotron">
  <div class="Clients">
    <h1>stylists</h1>
    <a href="/stylist">Clients</a>
  </div>
  <div class="Stylist">
    <a href="/employment">Stylists</a>
  </div>
</div>
