<!DOCTYPE html>
<html>
  <head>
    <title>Top ten movies</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.google.com/specimen/Baloo+Bhaina?selection.family=Baloo+Bhaina">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
    <div class="jumbotron">
      <a href="/">Homepage indext.vtl</a>
      <a href="/service">Service.vtl</a>
      <a href="/stylists">Stylist.vtl</a>
      <a href="/employment">Employment.vtl</a>
    </div>
  </body>
</html>
